
.jumbotron{
    background-color: darkred;
    text-align: center;
    color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://media.istockphoto.com/photos/asian-food-background-with-various-of-cooking-ingredients-picture-id618041312?k=6&m=618041312&s=170667a&w=0&h=BA8TA-j3-pl2sNYKlRM4wHMK481arffjVnHYFv2n31A=");
}
.background{
background-color: darkred;
}

.display-4{
    color: whitesmoke;
    font-family: 'Kaushan Script', cursive;
}
footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-family:'Kaushan Script', cursive;
}

  